-var titulo = "Titulo Principal"
-var titulos = ["Titulo Principal", "Subtitulo 1", "Subtitulo 2", "Subtitulo 3"]
-var Datas = ["DATA 0", "DATA 1", "DATA 2", "DATA 3"]
-var usuario = "Pablo"
mixin caja(imagen,titulo,contenido)
	.caja
		.caja__imagen: img(src="./images/"+imagen)
		.caja__contenido 
			h3=titulo
			p=contenido
doctype html
html
	head
		meta(charser="UTF-8")
		link(rel="stylesheet", href="./css/ejercicio-pug.css" )
	body
		header
			h1 Avocados Game
			if usuario
				a Hola #{usuario} 
			else 
				a.boton Registro
    	block a